.principal{
    width: 100%;

}
.size2{
    width: 30%;
}
.information{
  padding-bottom: 2%;
  
}
    .othersimgs{
       
        margin-top:-1%;
        display: grid;
        grid-template-columns: 100px 10fr;
       
        
        ;
    }

.margin{
    margin-left: 2%;
    margin-top: 1%;
    
}
.justify{
    text-align:center;
    margin-top: 3%;
}
.block{
    display: block;
}
.title{
   margin-top: 3%;

   
}
.othersart{
   margin-left: 73%;
   top: 3%;
   position: absolute;
}
.name{

    text-align: center;
}
.line{
   margin-left: 2%;
    width: 81%;
    border: solid 3px;
}
.principal{
    display: flex;
}
.Imgs{
    padding-bottom: 3%;
}
.text2{
    text-align: center;
}